# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Understanding the basics of Python and Jupyter Notebooks.
- Learning how to convert minutes to hours.
- List popular languages for Data Science.

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. pandas
3. scikit

| Data Science Tools |
|--------------------|
| Python             |
| R                  |
| SQL                |
| Tableau            |
| Excel              |
| Jupyter Notebook   |
| SAS                |
| Apache Spark       |
| TensorFlow         |
| Scikit-learn       |

### Below are a few example of evaluating arithmetic expressions in python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4) +5

17

In [2]:
#  This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Chase Hudson